<!DOCTYPE html>
  {% if language %}
    <html lang="{{language}}">
  {% else %}
    <html lang="en">
  {% endif %}

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{title}}
    </title>

    <meta name="title" content="{{title}}" />
    <meta name="og:title" content="{{title}}" />
    <meta name="twitter:title" content="{{title}}" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="og:url" content="https://borgateo.com{{page.url}}" />
    <meta name="twitter:url" content="https://borgateo.com{{page.url}}" />
    <meta name="og:site_name" content="Matteo Borgato - borgateo" />

    <meta name="og:image" content="{{ shareImage }}" />
    <meta name="twitter:image" content="{{ shareImage }}" />

    {% if description %}
      <meta name="description" content="{{description}}"/>
      <meta name="og:description" content="{{description}}"/>
      <meta name="twitter:description" content="{{description}}"/>
    {% endif %}

    {% if tags %}
      <meta name="keywords" content="{{tags}}">
    {% else %}
      <meta name="keywords" content="blog, frontend, javascript, CSS, remote work, computer science, HTML, digital nomad">
    {% endif %}

    <meta name="author" content="Matteo Borgato">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="30 days">

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <link rel="stylesheet" href="https://use.typekit.net/gvf5gsl.css">
  </head>
  <body>
    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <!-- Analytics -->
    <script>
      (function() {
      window.__insp = window.__insp || [];
      __insp.push(['wid', 387731430]);
      var ldinsp = function(){
      if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=387731430&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 0);
      })();
    </script>

  </body>
</html>