---
layout: default
prism: true
---

<div class="container max-w-3xl mt-11 px-5 text-base font-serif text-left">

    {% if cover %}
        <img class="mb-3" src="/static/img/{{cover}}" title="{{coverTitle}}" />
    {% endif %}

    <div class="pb-5 mb-5">
        <h1 class="font-bold prose-h1 text-left">{{title}}</h1>
        <h2 class="prose-h2 text-xs lg:text-base text-gray-400 italic">
            {{ description }}
            &mdash; <time>{{ date | readableDate }}</time>
        </h2>

    </div>
    <article class="prose-xl lg:prose-2xl mx-auto">
        {{ content | safe }}
    </article>

</div>